.avatar {
  --size: 36px;

  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-round);
  color: hsl(var(--accent-muted));
  background-color: hsl(var(--accent));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-ui);
  font-weight: 600;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sizeSm {
  --size: 28px;
  font-size: var(--text-xs);
}

.sizeMd {
  --size: 36px;
  font-size: var(--text-sm);
}

.sizeLg {
  --size: 48px;
  font-size: var(--text-md);
}

.sizeXl {
  --size: 72px;
  font-size: var(--text-lg);
}
