.group {
  display: inline-flex;
  gap: var(--space-2);
  align-items: center;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
  align-items: stretch;
}

.fullWidth {
  width: 100%;
}

.fullWidth > :global(*) {
  flex: 1;
}

.attached {
  gap: 0;
}

.attached.horizontal > :global(*) {
  border-radius: 0;
}

.attached.horizontal > :global(*):first-child {
  border-top-left-radius: var(--radius-base);
  border-bottom-left-radius: var(--radius-base);
}

.attached.horizontal > :global(*):last-child {
  border-top-right-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
}

.attached.horizontal > :global(*):not(:first-child) {
  margin-left: -1px;
}

.attached.vertical > :global(*) {
  border-radius: 0;
}

.attached.vertical > :global(*):first-child {
  border-top-left-radius: var(--radius-base);
  border-top-right-radius: var(--radius-base);
}

.attached.vertical > :global(*):last-child {
  border-bottom-left-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
}

.attached.vertical > :global(*):not(:first-child) {
  margin-top: -1px;
}
